<div id="container" class="shadow">
  <div *ngIf="isCompleted(); else hot" class="status-line completed">
    <div class="icon completed"></div>
    <div class="status" >
      {{ 'cardStatus.completed' | translate}}
    </div>
  </div>
  <div *ngIf="isHot(); else important" class="status-line hot" #hot>
    <div class="icon hot"></div>
    <div class="status" >
      {{ 'cardStatus.hot' | translate}}
    </div>
  </div>
  <div *ngIf="isImportant(); else deleted" class="status-line important" #important>
    <div class="icon important"></div>
    <div class="status" >
      {{ 'cardStatus.important' | translate }}
    </div>
  </div>
  <div *ngIf="isDeleted()" class="status-line deleted" #deleted>
    <div class="icon deleted"></div>
    <div class="status" >
      {{ 'cardStatus.deleted' | translate }}
    </div>
  </div>

  <div class="task-info">
    <div class="header">
      {{ card.header }}
    </div>
    <div class="descr">
      {{ card.descr }}
    </div>
    <div class="info-icons"></div>
  </div>
</div>