@import "src/shared/styles/global-variables.scss";

#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}

category-card,
.add-category-button {
    cursor: pointer;
    min-width: 200px;
    margin: 8px;
}

project-card,
.add-project-button
{
    cursor: pointer;
    margin: 8px;
}

.add-category-button,
.add-project-button{
    border: 2px dashed rgba($regular-color, 0.2);
}

.add-category-button{
    min-width: 174px;
    padding: 12px;
}

.add-project-button{
    min-width: 250px;
    height: 396px;

    display: flex;
    justify-content: center;
    align-items: center;
}

// .button.add{
//     min-height: unset;
//     min-width: 210px;
//     max-width: 240px;
//     font-size: unset;
//     height: 100%;
//     background-color: transparent;
//     justify-content: start;
//     padding: 0 16px;
//     white-space: nowrap;
// }

// .button.add:hover{
//     background-color: rgba($regular-color, 0.1);
// }