#container{
    height: 100%;
    max-height: calc(100vh - 40px);
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

// .masonry { 
//     display: flex;
//     flex-flow: column wrap;
//     max-height: 800px;
//     // margin-left: -8px; /* Adjustment for the gutter */
//     max-width: calc(100vw - 40px);
//     // width: 100%;
//     // padding-left: 8px;;
// }
  
.masonry-brick {
    // margin: 0 8px 8px 0; /* Some gutter */
}

/* The Masonry Container */
.masonry {
    margin: 1.5em auto;
    max-width: 768px;
    column-gap: 1.5em;
  }
  
  /* The Masonry Brick */
  .item {
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
  }
  
  /* Masonry on large screens */
  @media only screen and (min-width: 1024px) {
    .masonry {
      column-count: 4;
    }
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
      column-count: 3;
    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
      column-count: 2;
    }
  }