#container{
    height: 100%;
    max-height: calc(100vh - 40px);
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 4px;
}

note-card,
folder-card{
    width: 186px;
    flex-grow: 1;
    margin: 4px;
}