<div id="container" [ngClass]="{ 'active': btn.isActive === true }">
  <div *ngIf="isHome(); else tasks" class="content">
    <div class="icon home"></div>
    <div class="text"></div>
  </div>
  <div *ngIf="isTasks(); else notes" class="content" #tasks>
      <div class="icon tasks"></div>
      <div class="text">{{ 'module.tasks' | translate }}</div>
  </div>
  <div *ngIf="isNotes(); else calendar" class="content" #notes>
      <div class="icon notes"></div>
      <div class="text">{{ 'module.notes' | translate }}</div>
  </div>
  <div *ngIf="isCalendar()" class="content" #calendar>
      <div class="icon calendar"></div>
      <div class="text">{{ 'module.calendar' | translate }}</div>
  </div>
  <div class="sidebar"></div>
</div>