<div id="container" class="shadow">
  <div class="dayNumber">
    {{ dayInfo.dayInMonth }}
  </div>
  <div class="info-panel">
    <div class="icon workload-low" *ngIf="dayInfo.getDayWorkload() === 'low'"></div>
    <div class="icon workload-bmedium" *ngIf="dayInfo.getDayWorkload() === 'belowMedium'"></div>
    <div class="icon workload-amedium" *ngIf="dayInfo.getDayWorkload() === 'aboveMedium'"></div>
    <div class="icon workload-high" *ngIf="dayInfo.getDayWorkload() === 'high'"></div>
    <div class="counter">{{ dayInfo.getWorkloadInPercents() }}%</div>
  </div>
  <div class="info-panel" *ngIf="dayInfo.getHotTasksCount() !== 0">
    <div class="icon fire" *ngIf="dayInfo.getHotTasksCount() !== 0"></div>
    <div class="counter" *ngIf="dayInfo.getImportantTasksCount() !== 0">{{ dayInfo.getTasksCount() }}</div>
    <div class="icon warn" *ngIf="dayInfo.getImportantTasksCount() !== 0"></div>
    <div class="counter" *ngIf="dayInfo.getImportantTasksCount() !== 0">{{ dayInfo.getImportantTasksCount() }}</div>
    <div class="icon todo"></div>
    <div class="counter">{{ dayInfo.getHotTasksCount() }}</div>
  </div>
</div>