.container{
    background-color: rgb(253, 246, 236)
}

:host /deep/ div{
    font-family: HP-Simplified-Light;
}

:host /deep/ .button{
    background-color: #D18040;
    color: #fff;
    font-size: 20pt;
    height: 60px;
    min-height: 60px;
    cursor: pointer;
    display: grid;
    align-content: center;
    justify-content: center;
}

:host /deep/ .button:hover{

}