@import "src/shared/styles/global-variables.scss";

#container{
    background-color: $light-color;
    background-image: url(../assets/images/backgrounds/background1.jpeg);
    background-size: cover;
}

:host /deep/ div{
    font-family: $light-font;
    color: $regular-color;
}

:host /deep/ .button{
    background-color: $button-regular-color;
    color: $light-color;
    font-family: $light-font;
    font-size: 20pt;
    height: 60px;
    min-height: 60px;
    cursor: pointer;
    display: grid;
    align-content: center;
    justify-content: center;
}

:host /deep/ .button.add{
    font-family: $regular-font;
    font-size: 28pt;
}

:host /deep/ .button:hover,
:host /deep/ .button:focus
{
    background-color: $button-focused-color;
    outline-width: 0;       
}

:host /deep/ div.shadow{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, 
                rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}