/* --- colors --- */

$regular-color: #373331;

/* ------------- */

#container{
    background-color: inherit;
    display: grid;
    padding: 30px;
    grid-template-columns: 80px 30px auto;
}

.user-img{
    height: 80px;
    width: 80px;
    background-image: url(../../assets/images/icons/user.png);
    background-size: cover;
}

.user-name{
    grid-column: 3;
    color: $regular-color;
    font-size: 20pt;
    font-weight: 300;
    align-self: center;
}