<div id="container" class="shadow">
  <div *ngIf="isDefault(); else important" class="status-line non-highlighted">
    <div class="flex-start"></div>
    <!-- <div class="button menu">&#x2630;</div> -->
    <div class="button plus">+</div>
  </div>
  <div *ngIf="isImportant(); else deleted" class="status-line important" #important>
    <div class="flex-start">
      <div class="icon important"></div>
      <div class="status" >
        {{ 'cardStatus.important' | translate }}
      </div>
    </div>
    <!-- <div class="button menu">&#x2630;</div> -->
    <div class="button plus">+</div>
  </div>
  <div *ngIf="isDeleted()" class="status-line deleted" #deleted>
    <div class="flex-start">
      <div class="icon deleted"></div>
      <div class="status" >
        {{ 'cardStatus.deleted' | translate }}
      </div>
    </div>
  </div>
  <div class="note-info">
    <div class="header fade-1">
      {{ card.header }}
    </div>
    <div class="descr fade-3">
      {{ card.descr }}
    </div>
    <div class="info-icons"></div>
  </div>
  <div class="info-panel">
    <div class="infographics">
      <div class="icon attach" *ngIf="true"></div>
      <div class="counter" *ngIf="true"> 0 </div>
      <div class="icon link" *ngIf="true"></div>
      <div class="counter" *ngIf="true"> 0 </div>
    </div>
    <div class="date counter">
      {{ card.lastEditTime }}
    </div>
  </div>
</div>