@import "src/shared/styles/global-variables.scss";
@import "src/shared/styles/base64-icons.scss";

#container{
    flex-grow: 1;
    background-color: $light-color;
    // min-height: 60px;
    // max-width: 240px;
    // min-width: 200px;
    // margin: 8px;
    // border-radius: 5px;
    // margin: 4px;
    // min-width: 140px;
    // min-height: 140px;
    height: calc(34px + 1.1em + 3.3em + 30px + 18px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#container:hover{
    .status-line .button{
        opacity: 1;
    }
    .dayNumber{
        color: rgba($regular-color, 0.8);
    }
    .info-panel{
        .counter{   
            color: rgba($regular-color, 0.8);
        }
        .icon.attach{
            background-image: $attach-icon24-active;
        }
        .icon.link{
            background-image: $link-icon24-active;
        }
        .icon.warn{
            background-image: $warn-icon-active;
        }
    }
    .status-line{
        .icon.warn.inactive{
            opacity: 1;
        }
    }
}

.status-line{
    min-height: 34px;
    max-height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .flex-start{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }
    .button{
        background-color: transparent;
        min-height: unset;
        // min-width: 28px;
        min-width: 34px;
        height: 34px;
        color: rgba($regular-color, 0.4);
        opacity: 0;
        transition: opacity 0.3s;
    }
    .button.plus{
        padding-bottom: 1.3px;
        height: 32.7px;
    }
    .button.menu{
        font-size: 11pt;
        padding-bottom: 2.4px;
        height: 31.6px;
    }
    .button:hover{
        color: rgba($regular-color, 0.8);
    }
    .icon.warn.inactive{
        background-image: $warn-icon24-inactive;
        background-size: cover;
        transition: background-image 0.3s;
        opacity: 0;
    }
    .icon{
        width: 20px;
        height: 20px;
        margin: 0 8px 0 16px;
        align-self: center;
    }
    .status{
        font-family: $regular-font;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        align-self: center;
    }
}

.status-line.non-highlighted{
    background-color: rgba($regular-color, 0.04);
    padding-left: 16px;
}

.status-line.important{
    background-color: $card-status-important-back-color;
    .icon{
        background-image: $warn-icon-regular;
        background-size: cover;
    }
    .status{
        color: $card-status-important-text-color;
    }
}

.status-line.deleted{
    background-color: $card-status-deleted-back-color;
    .icon{
        background-image: $trash-icon-regular;
        background-size: cover;
    }
    .status{
        color: $card-status-deleted-text-color;
    }
}

.note-info{
    // padding: 12px;
    padding: 4px 4px 0 4px;
}

.header, .descr{
    color: rgba($regular-color, 0.7);
    // margin: 2px 4px 4px 4px;
    margin: 6px 4px 2px 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
}

.header{
    font-family: $regular-font;
    white-space: nowrap;
}

.descr{
    white-space: normal;
}

.fade-1 {
    position: relative;
    height: 1.1em;
}

.fade-2 {
    position: relative;
    height: 2.2em;
}

.fade-3 {
    position: relative;
    height: 3.3em;
}

.fade-1:after,
.fade-2:after,
.fade-3:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    // width: 50%;
    width: 2em;
    height: 1.1em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.info-panel{
    height: 20px;
    min-height: 30px;
    padding: 0 3px 0 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .infographics{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .icon{
        width: 16px;
        height: 16px;
        margin: 0 2px;
        align-self: center;
    }
    .icon.attach{
        background-image: $attach-icon24-regular;
        background-size: cover;
        transform: rotate(45deg);
        transition: background-image 0.3s;
    }
    .icon.link{
        background-image: $link-icon24-regular;
        background-size: cover;
        transform: rotate(-45deg);
        transition: background-image 0.3s;
    }
    .icon.warn{
        background-image: $warn-icon-regular;
        background-size: cover;
        transition: background-image 0.3s;
    }
    .icon.todo{
        background-image: $todo-icon-regular;
        background-size: cover;
        transition: background-image 0.3s;
    }
    .icon.workload-low{
        background-image: $workload-icon24-low;
        background-size: cover;
        transition: background-image 0.3s;
    }
    .icon.workload-bmedium{
        background-image: $workload-icon24-below-medium;
        background-size: cover;
        transition: background-image 0.3s;
    }
    .icon.workload-amedium{
        background-image: $workload-icon24-above-medium;
        background-size: cover;
        transition: background-image 0.3s;
    }
    .icon.workload-high{
        background-image: $workload-icon24-high;
        background-size: cover;
        transition: background-image 0.3s;
    }
    .counter{
        align-self: center;
        margin: 0 2px;
        font-size: 10pt;
        color: rgba($regular-color, 0.4);
        transition: color 0.3s;
    }
}