@import "src/shared/styles/global-variables.scss";
@import "src/shared/styles/base64-icons.scss";

#container{
    background-color: $light-color;
    // min-height: 60px;
    // max-width: 240px;
    // min-width: 200px;
    margin: 8px;
    // border-radius: 5px;

    width: 170px;
    height: 140px;
}

#container:hover{
    .status-line .button{
        opacity: 1;
    }
}

.status-line{
    min-height: 34px;
    max-height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .flex-start{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }
    .button{
        background-color: transparent;
        min-height: unset;
        // min-width: 28px;
        min-width: 34px;
        height: 34px;
        color: rgba($regular-color, 0.4);
        opacity: 0;
        transition: opacity 0.3s;
    }
    .button.plus{
        padding-bottom: 1.3px;
        height: 32.7px;
    }
    .button.menu{
        font-size: 11pt;
        padding-bottom: 2.4px;
        height: 31.6px;
    }
    .button:hover{
        color: rgba($regular-color, 0.8);
    }
}

.status-line .icon{
    width: 20px;
    height: 20px;
    margin: 0 8px 0 16px;
    align-self: center;
}

.status-line .status{
    font-family: $regular-font;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    align-self: center;
}

.status-line.non-highlighted{
    background-color: rgba($regular-color, 0.04);
    padding-left: 16px;
}

.status-line.important{
    background-color: $card-status-important-back-color;
    .icon{
        background-image: $warn-icon-regular;
        background-size: cover;
    }
    .status{
        color: $card-status-important-text-color;
    }
}

.status-line.deleted{
    background-color: $card-status-deleted-back-color;
    .icon{
        background-image: $trash-icon-regular;
        background-size: cover;
    }
    .status{
        color: $card-status-deleted-text-color;
    }
}

.note-info{
    padding: 12px;
}

.header, .descr{
    color: rgba($regular-color, 0.7);
    margin: 2px 4px 4px 4px;
    white-space: normal;
}

.header{
    font-family: $regular-font;
}