<div id="container">
  <div class="header">
    <div class="icon"></div>
    <div *ngIf="!section.isEditing" class="column-name" (click)="openSectionEditor()">
      {{ section.name }}
    </div>
    <div *ngIf="section.isEditing">
      <input 
        class="input" 
        type="text" 
        tabindex="1" 
        autofocus=true 
        placeholder="Section name"
        (blur)="closeSectionEditor()"
        (keyup.enter)="blurEditor(headerInput)"
        [(ngModel)]="section.name"
        #headerInput
      >
    </div>
  </div>
    <div 
      *ngIf="!section.isEditing || section.cards" 
      class="scrollable vertical" 
      malihu-scrollbar 
      [scrollbarOptions]="scrollbarOptions"
    >
    <task-card 
    class="card" 
    *ngFor="let c of section.cards" 
    [card]="c" 
    (click)="openTaskEditor(c)"
    (taskCreated)="saveTaskChanges(c)"
    (contextmenu)="showContextMenu()"
    ></task-card>
    <div *ngIf="!isNewTaskCardCreating" class="button shadow" (click)="addTask()">
      +
    </div>
  </div>
</div>