<div id="container">
  <div class="header">
    <div class="icon"></div>
    <div *ngIf="isHeaderSet" class="column-name" (click)="openHeaderEditor()">
      {{ list.name }}
    </div>
    <div *ngIf="!isHeaderSet">
      <input 
        class="input" 
        type="text" 
        tabindex="1" 
        autofocus=true 
        (blur)="updateHeader()" 
        (keyup.enter)="updateHeader()"
        [(ngModel)]="headerEditor"
        >
        <!-- (focusout)="removeIfEmpty()"  -->
    </div>
  </div>
  <div *ngIf="isHeaderSet" class="scrollable vertical">
    <task-card class="card" *ngFor="let c of cards" [card]="c" (contextmenu)="showContextMenu()"></task-card>
    <div class="button shadow" (click)="addCard()">
      +
    </div>
  </div>
</div>