<div id="container" [ngClass]="{ 'active': btn.isActive === true }">
  <div *ngIf="isHome(); else tasks" class="content">
    <div class="icon home"></div>
    <div class="text"></div>
  </div>
  <ng-template #tasks>
    <div *ngIf="isTasks(); else notes" class="content">
      <div class="icon tasks"></div>
      <div class="text">{{ 'module.tasks' | translate }}</div>
    </div>
  </ng-template>
  <ng-template #notes>
    <div *ngIf="isNotes(); else calendar" class="content">
      <div class="icon notes"></div>
      <div class="text">{{ 'module.notes' | translate }}</div>
    </div>
  </ng-template>
  <ng-template #calendar>
    <div *ngIf="isCalendar()" class="content">
      <div class="icon calendar"></div>
      <div class="text">{{ 'module.calendar' | translate }}</div>
    </div>
  </ng-template>
  <div class="sidebar"></div>
</div>