<div id="container">
  <div class="editor shadow">
    <div class="left-header">
      <div
        *ngIf="!isCompleted()"
        class="button complete shadow"
        (click)="completeTask()"
      >
        {{ 'buttons.common.complete' | translate }}
      </div>
      <div
        *ngIf="isCompleted()"
        class="button archive shadow"
        (click)="archiveTask()"
      >
      {{ 'buttons.common.remove' | translate }}
      <!-- {{ 'buttons.taskPage.archive' | translate }} -->
      </div>
    </div>
    <div class="right-header">
      <div class="button" (click)="closeEditor()">x</div>
    </div>
    <div class="left-column">
      <textarea
        class="task-header" 
        placeholder="{{ 'placeholders.taskPage.taskHeader' | translate}}"
        [(ngModel)]="task.header"
        (ngModelChange)="saveChanges()"
      ></textarea>
      <textarea
        class="task-descr" 
        placeholder="{{ 'placeholders.taskPage.taskDescription' | translate}}"
        [(ngModel)]="task.descr"
        (ngModelChange)="saveChanges()"
      ></textarea>
    </div>
    <div class="right-column">

    </div>     
  </div>
</div>