@import "src/shared/styles/global-variables.scss";
@import "src/shared/styles/base64-icons.scss";

#container{
    display: flex;
    background-color: $light-color;
    padding: 12px;
    min-width: 200px;
    min-height: 376px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 2px 4px 4px 4px;
    .header{
        font-family: $regular-font;
        margin-bottom: 20px;
        text-align: center;
    }
    .chart{
        max-width: 300px;
        margin-bottom: 8px;
    }
    .header, .total-count{
        color: rgba($regular-color, 0.7);
    }
    .total-count{
        font-family: $light-font;
        font-size: 34pt;
        text-align: center;
        max-width: 240px;
        width: 100%;
        top: -144px;
        position: relative;
    }
    .chart-legend{
        margin-top: -40px;
    }
}

.editor{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-grow: 1;

    .input{
        min-height: unset;
        height: unset;
        width: 212px;
        border-bottom-color: $light-color;
        padding: 1px 0 2px 0;
        margin: 8px;
    }
    
    .input,
    .input:hover,
    .input:focus{
        border-bottom-color: $button-menu-focused-color;
    }
}