/* --- colors --- */

$warning-color: #d10202;
$regular-color: #373331;
$light-color: #fff;
$page-background-color: #71685f;
$background-regular-color: #F6EDE5;
$background-focused-color: #fffbf7;
$button-regular-color: #D18040;
$button-focused-color: #D96E1A;
$box-shadow-color: rgba(0,0,0,0.5);
$button-menu-focused-color: #FFC000;
$button-menu-regular-color: rgba(83, 83, 83, 0.5);

/* --- fonts --- */

$regular-font: HP-Simplified-Regular;
$light-font: HP-Simplified-Light;
$bold-font: HP-Simplified;
$warning-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$placeholder-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

/* ------------- */
