<div id="container">
  <div id="login-form">
    <div class="form-header">
      <div class="app-icon"></div>
      <div class="header">{{ 'app.name' | translate }}</div><br/>
      <div class="subheader">{{ 'app.tagline' | translate }}</div>
    </div>
    <form (ngSubmit)="onSubmit()">
      <span *ngIf="!currentLogin">
        <user-profile class="user-profile" tabindex="0" autofocus=true *ngFor="let p of profiles" [profile]="p" (keyup.enter)="chooseLogin(p)" (click)="chooseLogin(p)"></user-profile>
        <div class="button add" tabindex="0" autofocus=true (keyup.enter)="reg()" (click)="reg()">{{ addButtonText }}</div>
      </span>
      <span *ngIf="currentLogin">
        <div id="pass-form">
          <div class="plain-text">{{ 'auth.insertPass' | translate }}</div>
          <input type="hidden" autocomplete="username" />
          <input class="pass-input" type="password" tabindex="1" autofocus=true autocomplete="current-password" (blur)="validateInput(password)" (keyup.enter)="auth(password)" #password/>
        </div>      
        <div class="button" type="submit" tabindex="0" autofocus=true (keyup.enter)="login(password)" (click)="login(password)">{{ 'auth.loginBtn' | translate }}</div>
      </span>     
    </form>
  </div>
</div>