@import "src/shared/styles/global-variables.scss";

#main-container{
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 110px auto;
    background-color: $background-regular-color;
    // align-items: center;
}

.main-menu{
    display: flex;
    flex-direction: column;
    background-color: $light-color;// $regular-color;

    .decor-line{
        flex-grow: 1;
        align-self: flex-end;
        width: 4px;
        background-color: #454c55;//$button-menu-regular-color;
    }

    main-menu-button{
        flex-grow: 0;
    }
}

#auxilary-router{
    grid-row: 1;
    grid-column: 2;
}

main-menu-button.sidebar{
    background-color: $background-regular-color;
}

main-menu-button:hover.sidebar,
main-menu-button:active.sidebar
{
    background-color: $background-focused-color;
}
