<div id="container">
  <div id="form">
    <div class="form-header">
      <div class="app-icon"></div>
      <div class="header">{{ headerText }}</div><br/>
      <div class="subheader">{{ subheaderText }}</div>
    </div>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div id="reg-form">
        <div class="plain-text">{{ regFormText }}</div>
        <div class="fields">
          <div class="plain-text field" for="firstName">
            First name
          </div> 
          <div>
            <input 
              class="input text"
              type="text"
              name="fname" 
              tabindex="1" 
              autofocus=true 
              autocomplete="name" 
              [(ngModel)]="model.fname"
              [ngClass]="{ 'ng-invalid warning': fname.touched && fname.invalid }"
              #fname="ngModel"
              required
            />
            <div *ngIf="fname.touched && fname.invalid" class="invalid-feedback">
              <div *ngIf="fname.errors.required" class="alert">Is required</div>
            </div>
          </div>
          
          <!--------------------------------------------------------------->
          <div class="plain-text field" for="lastName">
            Last name
          </div> 
          <div>
            <input 
              class="input text"
              type="text"
              name="lname" 
              tabindex="0" 
              autofocus=true 
              autocomplete="family-name" 
              [(ngModel)]="model.lname"
              [ngClass]="{ 'ng-invalid warning': lname.touched && lname.invalid }"
              #lname="ngModel"
              required
            />
            <div *ngIf="lname.touched && lname.invalid" class="invalid-feedback">
              <div *ngIf="lname.errors.required" class="alert">Is required</div>
            </div>
          </div>
          <!--------------------------------------------------------------->
          <div class="plain-text field" for="password">
            Password
          </div> 
          <div>
            <input 
              class="input pass" 
              type="password" 
              name="password" 
              tabindex="0" 
              autofocus=true 
              autocomplete="new-password"
              [(ngModel)]="model.password"
              [ngClass]="{ 'ng-invalid warning': password.touched && password.invalid }"
              #password="ngModel"
              required
              minlength="6"
            />
            <div *ngIf="password.touched && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required" class="alert">Is required</div>
              <div *ngIf="password.errors.minlength && !password.errors.required" class="alert">Password must be at least 6 characters</div>
            </div>
          </div>
          <!--------------------------------------------------------------->
          <div class="plain-text field" for="confirmPassword">
            Repeat password
          </div> 
          <div>
              <input 
                class="input pass" 
                type="password" 
                name="confirmPassword" 
                tabindex="0" 
                autofocus=true 
                [(ngModel)]="model.confirmPassword"
                [ngClass]="{ 'ng-invalid warning': confirmPassword.touched && (confirmPassword.invalid || password.value !== confirmPassword.value) }"
                #confirmPassword="ngModel"
                required
              />
              <div *ngIf="confirmPassword.touched && (confirmPassword.invalid || password.value !== confirmPassword.value)" class="invalid-feedback">
                <div *ngIf="confirmPassword.errors.required" class="alert">Is required</div>
                <div *ngIf="password.value !== confirmPassword.value && !password.errors.required" class="alert">Passwords do not match</div>
              </div>
            </div>
          <!--------------------------------------------------------------->
          <div class="plain-text field" for="email">
            Email
          </div> 
          <div>
              <input 
                class="input text"
                type="email"
                name="email" 
                tabindex="0" 
                autofocus=true 
                autocomplete="email" 
                [(ngModel)]="model.email"
                [ngClass]="{ 'ng-invalid warning': email.touched && email.invalid }"
                #email="ngModel"
                required
                email
              />
              <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required" class="alert">Is required</div>
                <div *ngIf="email.errors.email" class="alert">Email must be a valid email address</div>
              </div>
            </div>
        </div>
      </div>      
      <button class="button" type="submit" tabindex="0" autofocus=true (keyup.enter)="register(password,password,password,password)">{{ regButtonText }}</button>
    </form>
  </div>
</div>