/* --- colors --- */

$warning-color: #d10202;
$regular-color: #373331;
$light-color: #fff;
$page-background-color: #71685f;
$background-regular-color: #F6EDE5;
$background-focused-color: #fffbf7;
$button-regular-color: #D18040;
$button-focused-color: #D96E1A;
$box-shadow-color: rgba(0,0,0,0.5);

/* --- fonts --- */

$regular-font: HP-Simplified-Regular;
$light-font: HP-Simplified-Light;
$bold-font: HP-Simplified;
$warning-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

/* ------------- */

#container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 340px auto;
    align-items: center;
}

#form{
    background-color: $background-regular-color;
    grid-column: 2;
    box-shadow: 0 0 10px $box-shadow-color;
}

.form-header{
    background-color: $regular-color;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 80px 10px auto;
}

.header, .subheader{
    color: $light-color;
    grid-column: 3;
    grid-row:1;
    align-self: center;
}

.header{
    font-family: $regular-font;
    font-weight: 500;
    margin-bottom: 1em;
}

.header{
    font-size: 20pt;
}

.subheader, .plain-text, #reg-form{
    font-size: 14pt;
    // font-weight: 400;
}

.subheader{
    margin-top: 2em;
}

.plain-text{
    margin-bottom: 1em;
}

.plain-text.field{
    margin: 4px 0;
    align-self: flex-start;

}

.field, #reg-form{
    align-self: center;
}

.app-icon{
    height: 80px;
    width: 80px;
    background-image: url(../../assets/images/icons/eDiary-logo-white.png);
    background-size: cover;
}

#reg-form{
    text-align: center;
    padding: 30px;
}

.input{
    height: 28px;
    min-height: 28px;
    width: 90%;
    padding: 0 5px;
    font-size: 12pt;
    font-family: $warning-font;
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: $regular-color;
    color: $regular-color;
    background-color: transparent;
    -webkit-transition: border-bottom-color 0.5s;
    transition: border-bottom-color 0.5s;
}

.input.warning{
    border-bottom-color: $warning-color;
}

.input.pass{
    letter-spacing: 2px;
    font-family: $bold-font;
}

.input:focus, 
.input:hover {
    outline-width: 0;
    border-bottom-color: $button-focused-color;
}


.input::-webkit-input-placeholder{
    font-family: $warning-font;
    letter-spacing: 0.2px;
    opacity: 1; 
    color: $warning-color; 
    transition: opacity 0.3s ease;
}
.input::-moz-placeholder{
    font-family: $warning-font;
    letter-spacing: 0.1px;
    opacity: 1; 
    color: $warning-color; 
    transition: opacity 0.3s ease;
}
.input:-moz-placeholder{
    font-family: $warning-font;
    letter-spacing: 0.1px;
    opacity: 1; 
    color: $warning-color; 
    transition: opacity 0.3s ease;
}
.input:-ms-input-placeholder{
    font-family: $warning-font;
    letter-spacing: 0.1px;
    opacity: 1; 
    color: $warning-color; 
    transition: opacity 0.3s ease;
}
.input:focus::-webkit-input-placeholder{
    opacity: 0; 
    color: $regular-color; 
    transition: opacity 0.3s ease;
}
.input:focus::-moz-placeholder{
    opacity: 0; 
    color: $regular-color; 
    transition: opacity 0.3s ease;
}
.input:focus:-moz-placeholder{
    opacity: 0; 
    color: $regular-color; 
    transition: opacity 0.3s ease;
}
.input:focus:-ms-input-placeholder{
    opacity: 0; 
    color: $regular-color; 
    transition: opacity 0.3s ease;
}

.fields{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(5, 50px);
    // align-items: center;    
    text-align: start;
    row-gap: 10px;
}

.invalid-feedback{

}

.alert{
    color: $warning-color;
    font-family: $warning-font;
    font-size: 14px;
    bottom: 0;
}

.button{
    width: 100%;
    border: 0;
}