<div id="container">
  <div id="form">
    <div class="form-header">
      <div class="app-icon"></div>
      <div class="header">{{ 'app.name' | translate }}</div><br/>
      <div class="subheader">{{ 'app.tagline' | translate }}</div>
    </div>
    <form (ngSubmit)="form.valid && onSubmit()" [formGroup]="form">
      <div id="reg-form">
        <div class="plain-text">{{ 'reg.formHeader' | translate }}</div>
        <div class="fields">
          <input 
            formControlName="fname"
            class="input text"
            type="text"
            name="fname" 
            tabindex="0" 
            autofocus=true 
            autocomplete="name" 
            placeholder="{{ 'reg.fname' | translate }}"
            [ngClass]="{ 'ng-invalid warning': controls.fname.touched &&  controls.fname.invalid }"
          />
          <div *ngIf="controls.fname.touched && controls.fname.errors">
            <div *ngIf="controls.fname.errors.required" class="alert">{{ 'error.isRequired' | translate }}</div>
            <div *ngIf="controls.fname.errors.pattern" class="alert">{{ 'error.lettersOnly' | translate }}</div>
          </div>
        </div>  
        <div class="fields">
          <input 
            formControlName="lname"
            class="input text"
            type="text"
            name="lname" 
            tabindex="0" 
            autofocus=true 
            autocomplete="family-name" 
            placeholder="{{ 'reg.lname' | translate }}"
            [ngClass]="{ 'ng-invalid warning': controls.lname.touched && controls.lname.invalid }"
          />
          <div *ngIf="controls.lname.touched && controls.lname.invalid">
            <div *ngIf="controls.lname.errors.required" class="alert">{{ 'error.isRequired' | translate }}</div>
            <div *ngIf="controls.lname.errors.pattern" class="alert">{{ 'error.lettersOnly' | translate }}</div>
          </div>
        </div>  
        <div class="fields" formGroupName="passwords">
          <div class="eye" (mousedown)="showPassword(p)" (mouseup)="hidePassword(p)" (mouseleave)="hidePassword(p)"></div>
          <input 
            formControlName="password"
            class="input" 
            type="password"
            name="password" 
            tabindex="0" 
            autofocus=true 
            autocomplete="new-password"
            placeholder="{{ 'reg.password' | translate }}"
            [ngClass]="{ 'pass': isPasswordType(p), 'ng-invalid warning': isPasswordTouched() && getPasswordElement().invalid }"
            #p
          />
          <div *ngIf="isPasswordTouched() && getPasswordElement().invalid">
            <div *ngIf="getPasswordElement().errors.required" class="alert">{{ 'error.isRequired' | translate }}</div>
            <div *ngIf="getPasswordElement().errors.minlength" class="alert">{{ 'error.minLength6' | translate }}</div>
          </div>
        </div>
        <div class="fields" formGroupName="passwords">
          <div class="eye" (mousedown)="showPassword(cp)" (mouseup)="hidePassword(cp)" (mouseleave)="hidePassword(cp)"></div>
          <input 
            formControlName="confirmPassword"
            class="input" 
            type="password"
            name="confirmPassword" 
            tabindex="0" 
            autofocus=true 
            placeholder="{{ 'reg.passwordConfirm' | translate }}"
            [ngClass]="{ 'pass': isPasswordType(cp),'ng-invalid warning': isConfirmPasswordTouched() && passwords.invalid }"
            #cp
          />
          <div *ngIf="isConfirmPasswordTouched() && getConfirmPasswordElement().errors; else passwordGroupErrors">
            <div *ngIf="getConfirmPasswordElement().errors.required"
             class="alert">{{ 'error.isRequired' | translate }}</div>
          </div>
          <ng-template #passwordGroupErrors>
            <div *ngIf="getConfirmPasswordValue() !== '' && passwords.errors && passwords.errors.passwordsNotMatch"
              class="alert">{{ 'error.passwordsNotMatch' | translate }}</div>
          </ng-template>
        </div>  
        <div class="fields">
          <input 
            formControlName="email"
            class="input text"
            type="email"
            name="email" 
            tabindex="0" 
            autofocus=true 
            autocomplete="email" 
            placeholder="{{ 'reg.email' | translate }}"
            [ngClass]="{ 'ng-invalid warning': controls.email.touched && controls.email.invalid }"
          />
          <div *ngIf="controls.email.touched && controls.email.invalid">
            <div *ngIf="controls.email.errors.required" class="alert">{{ 'error.isRequired' | translate }}</div>
            <div *ngIf="controls.email.errors.email" class="alert">{{ 'error.emailNotValid' | translate }}</div>
          </div>
        </div>
      </div>      
      <button class="button" type="submit" tabindex="0" autofocus=true>{{ 'reg.btnText' | translate }}</button>
    </form>
  </div>
</div>