<div id="project-page">
  <div style="max-width: calc(100vw - 110px);" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
    <div class="content">
      <task-list 
        *ngFor="let s of sections" 
        [section]="s"
        (taskEditing)="openTaskEditor($event)"
        (sectionEdited)="saveSectionChanges(s)"
        ></task-list>  
      <div class="headline">
        <div class="button add" (click)="addSection()">+ {{ 'buttons.taskPage.addColumn' | translate }}</div>
      </div>
    </div>
  </div>
  <!-- <sidebar [buttons]="sidebarButtons"></sisdebar> -->
</div>
<task-editor 
  *ngIf="editingTask" 
  [task]="editingTask"
  (taskEdited)="closeTaskEditor()"
></task-editor>