<div id="container">
  <div style="max-width: calc(100vw - 170px);" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
    <div class="content">
      <task-list 
        *ngFor="let s of sections" 
        [section]="s"
        (editorClosed)="saveSectionChanges(s)"
        ></task-list>  
      <div class="headline">
        <div class="button add" (click)="addSection()">+ {{ 'buttons.addColumn' | translate }}</div>
      </div>
    </div>
  </div>
  <sidebar [buttons]="sidebarButtons"></sidebar>
</div>